{
  "rules": {
    "no-unused-expressions": 1,
    "no-unused-vars": 1,
    "no-use-before-define": 0,
    "strict": 1,
    "new-cap": 0,
    "camelcase": 0,
    "quotes": [2, "single"],
    "semi": [1, "never"]
  },

  "env": {
    "browser": false,
    "node": true,
    "es6": true
  }
}
